<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a basic web app in which users will be able to post micro blogs, which
  will be visible to the people who follow them. Users will also be able to 
  follow other users.
</p>    