<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
    Look man! I really don't know much. If you have a problem or anything with 
    the app, just Google around. You'll probably find what you're looking for on
    Stack Overflow.
    So help page.
    <a href="#">#Random</a>
</p>
