<div class="center jumbotron">

  <h1>Welcome to Mini - Twitter</h1>
  <p> This is the home page for the Mini Twitter app that I am trying to make.
      I,<a href="#">Burhan Nabi</a>, am making it using Rails, a Ruby framework. 
      Ruby is such a cool language.
  </p>
  <%= link_to "Sign Up Now!",signup_path, class:"btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails Logo",
    height: "5%", width:"5%"), "http://rubyonrails.org" %>
