<% provide(:title, "Log In") %>

<h1>Log In to get started!</h1>

<div class="row">
  <%= form_for(:session, url:login_path ) do |f| %>
    <div class="col-md-6 col-md-offset-3">
    
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password , class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <div class="col-md-4 col-md-offset-4">
        <%= f.submit "Log In", class: "btn btn-lg btn-primary" %>
      </div>
      <p>New User? <%= link_to "Sign Up Now", signup_path %> </p>
    </div>
  <% end %>
</div>
