<% provide(:title, "Sign Up") %>
<h1>Sign Up</h1>

<div class="row">
  <%= form_for(@user) do |f|  %>
    <div class="col-md-6 col-md-offset-3">
      <%= render "shared/error_messages" %>

      <%= f.label :name %>
      <%= f.text_field :name , class: "form-control" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confiramtion, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
	 </div>
    <div class="col-md-2 col-md-offset-5">
      <%= f.submit "Create my account!", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>