<div class="row">
	<aside class="col-md-3">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<br>
				<%= @user.name %>
				<br>
				<%= @user.email %>
			</h1>
		</section>
	</aside>
</div>	