<footer class="footer">
  <small>
    The <a href="#">Mini Twitter App</a>
    by <a href="#">Burhan Nabi</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>