<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title( yield(:title) )%> </title>
    <%= stylesheet_link_tag    'application', media: 'all', 
        'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',
        'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render "layouts/shim" %>
  </head>
  
  <body>

    <%= render "layouts/header" %>
    <div class="container">

      <% flash.each do |msg_type, msg| %>
        <div class="alert alert-<%=msg_type%>"><%= msg %></div>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
      <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
</html>
